# Twilio Credentials
TWILIO_ACCOUNT_SID=AC...
TWILIO_AUTH_TOKEN=...
TWILIO_API_KEY=SK...
TWILIO_API_SECRET=...
TWILIO_TWIML_APP_SID=AP...
TWILIO_PHONE_NUMBER=+1...

# App Config
PORT=3000
JWT_SECRET=za-secret-security-key-2024
